<h2>{{ page.name }}</h2>
{% for post in site.categories[page.name] %}
	<span class="label" style="float:right; margin-left:10px; margin-right:5px; background-color:#5bc0de; font-weight: 180;">{{ post.date | date: "%B %e, %Y" }}</span>
	<div class="thumbnail" style="background-color: #FFFFFF;">
	<h4 style="margin-top:0px;margin-bottom:4px; color:#333333; font-weight: 250;"><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h4>
	<p style="color:#333333; font-weight: normal;">{{post.description}}</p>
	<div align="right" style="margin-right:10px; color:#0088CC; font-weight: 200;"><a href="{{ BASE_PATH }}{{ post.url }}">阅读全文 &raquo; </a></div>
	</div>
	<hr/ style="margin:5px; style="padding-top:8px; padding-bottom:8px;">
{% endfor %}