<div class="box fn-clear">
<form class="form-search"method="get" action="http://www.google.com/search" target="google_window">
  <div class="input-append">
    <input type="text" name="q" class="span2 search-query" />
    <button type="submit" name="btn" class="btn">站内搜索</button>
  </div>
	<input type="hidden" name="ie" value="UTF-8" />
	<input type="hidden" name="oe" value="UTF-8" />
	<input type="hidden" name="hl" value="zh-CN" />
	<input type="hidden" name="domains" value="http://blog.zhm.me" />
	<input type="hidden" name="sitesearch" value="http://blog.zhm.me" />
</form>
<div id="cse"></div>
</div>